* {
  outline: red;
  outline-style: dashed;
  outline-width: 2px;
}
body {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  width: 97vw;
  height: 96vh;
}

.Hoofding {
  display: flex;
  height: 10%;
  width: 100%;
}


.NietHoofding {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}
.Vakken {
  display: flex;
  width: 30%;
  height: 100%;
}
.NietVakken {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.Oefeningen {
  display: flex;
  width: 100%;
  height: 50%;
}
.Voortgang {
  display: flex;
  width: 100%;
  height: 50%;
}
