* {
  outline: red dashed 2px;
}
body {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  width: 97vw;
  height: 96vh;
}

.Hoofding {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%) 1;
}
.LogoHoofding {
  display: flex;
  height: 100%;
  width: 30%;
}
.ProfielFotoFrame {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100%;
  aspect-ratio: 1/1;
}
.ProfielFoto {
  display: flex;
  height: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  image-rendering: pixelated;
  object-fit: cover;
  object-position: center;
  border: 1.5px solid black;
}


.NietHoofding {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}
.VakkenFrame {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Vakken {
  background-color: rgb(231, 231, 231);
  height: 95%;
  width: 95%;
  display: flex;
  border-radius: 15px;
}
.NietVakken {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.OefeningenFrame {
  display: flex;
  width: 100%;
  height: 50%;
}
.VoortgangFrame {
  display: flex;
  width: 100%;
  height: 50%;
}
