<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/login.js" defer></script>
</head>

<body>
    <div class="MiddenBlok">
        <div class="LogoDiv">
            <img src="/static/Logo.png" alt="Logo" class="Logo">
        </div>
        <form id="LoginForm">
        
            <div class="InputBlok">
                <input class="Input" type="text" id="UsernameField" name="username" placeholder="Gebruikersnaam" required>
            </div>
            
            <div class="InputBlok">
                <input class="Input" type="password" id="PasswordField" name="password" placeholder="Wachtwoord" required>
            </div>
            <div class="Foutmelding" id="Foutmelding"></div>

            <div class="SubmitBlok">
                <button type="submit" class="LoginKnop">Log in</button>
            </div>

        </form>

        <div class="RegistreerDiv">
            <p>Heb je nog geen account? <a href="{{ url_for('registrerenLeerling') }}">registreer hier</a></p>
        </div>
    </div>
</body>
</html>
