<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="MiddenBlok">
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="Logo">
        <form action="/login" method="POST">
        
            <div class="blok1">
                <input type="text" name="username" placeholder="Gebruikersnaam" required>
            </div>
            
            <div class="blok2">
                <input type="password" name="password" placeholder="Wachtwoord" required>
            </div>
            
            <div class="blok1">
                <button type="submit" class="LoginKnop">Log in</button>
            </div>

        </form>

        <div class="Registreer">
            <p>Heb je nog geen account? <a href="/registreren">registreer hier</a></p>
        </div>

    </div>
</body>
</html>
